name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Run unit tests
        run: make test-unit

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    env:
      OPEN_API_TOKEN: ${{ secrets.OPEN_API_TOKEN }}
      GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Run integration tests
        run: make test-external
